
/* body div */

.goal-list {
  padding-top: 20px;
  text-align: center;
  margin-left: 10px;
}


/* text */


.goal-list li {
  font-family: 'Quicksand', sans-serif;
}

.goal-list h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}


/* clicky things */

.goal-list button {
  background-color: #92B558;
}

#edit {
  font-size: 12px;
  padding-left: 5px;
  text-decoration: underline;
}

#delete {
  font-size: 12px;
  padding-left: 5px;
  text-decoration: underline;
  color: red;
}
