
body {
  padding: 0;
  margin: 0;
}

.body-1 {
  background-image: image-url('splash.jpg');
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

// new

.body-2 {
  background-image: image-url('chart.jpg');
  background-repeat:no-repeat;
  background-position:center;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 100px;
}

.body-3 {
  background-image: image-url('coffee.jpg');
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

.body-4 {
  background-image: image-url('home.jpg');
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}
