/* navbar styles */

#title {
  font-size: 70px;
  font-family: 'Lobster', cursive;
  color: white;
  text-align: center;
  padding: 10px 10px;
}


.top-bar {
  height: 20%;
  text-align: center;
  background-color: #92B558;
}

#dropdown a {
  background-color: #92B558;
}


/* body text */

#intro {

  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  color: #92B558;
  margin-top: 75px;
  text-align: center;
}

#flash {
  color: green;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  align-content: center;
  margin-top: 20px;
}
