
// reg size phones

@media only screen and (max-width: 768px) {

  .top-bar {
    height: 40%;
    font-size: 12px;
  }

  .top-bar h1 {
    font-size: 50px;
  }

  #direct-msg, #intro {
    max-width: 60%;
  }

  .form-things {
    max-width: 300px;
  }

  #graphs {
    max-width: 600px;
    font-size: 10px;
  }

  #charting h1 {
    max-width: 400px;
  }

  #charting #action-list button {
    font-size: 30px;
    width: 300px;
  }

  #settings {
    margin-left: 5px;
  }

  #settings input {
    max-width: 300px;
  }

  #welcome-text {
    max-width: 300px;
    margin: 0 auto;
  }

  #body-4 h1 {
    font-size: 70px;
  }

  .goal-list button {
    width: 300px;
    font-size: 30px;
  }

  #welcome-text {
    max-width: 300px;
    text-align: center;
  }

  .recharts-wrapper, .recharts-surface, .recharts-legend-wrapper {
    max-width: 200px;
  }

  .recharts-surface {
    max-width: 350px;
  }

  #graphs h2 {
    font-size: 20px;
  }

  .recharts-legend-wrapper {
    font-size: 15px;
    text-align: center;
    align-content: center;
    max-width: 300px;
  }
}

// larger iphones +

@media only screen
and (min-width: 414px)
and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
  .top-bar {
    height: 30%;
  }
}

// desktop

@media only screen and (min-width: 768px) {
  .top-bar {
    height: 15%;
  }
}

// tablets - reg size


@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  .recharts-wrapper, .recharts-surface, .recharts-legend-wrapper {
    max-width: 200px;
  }

  .recharts-surface {
    max-width: 550px;
  }
  #graphs h2 {
    font-size: 30px;
  }

  .recharts-legend-wrapper {
    font-size: 20px;
    text-align: center;
    align-content: center;
    max-width: 550px;
  }

  .top-bar a {
    font-size: 20px;
  }
}

// ipad pro larger screens

@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

  .top-bar {
    height: 10%;
  }

  .recharts-wrapper, .recharts-surface, .recharts-legend-wrapper {
    max-width: 200px;
  }

  .recharts-surface {
    max-width: 700px;
  }
  #graphs h2 {
    font-size: 30px;
  }

  .recharts-legend-wrapper {
    font-size: 20px;
    text-align: center;
    align-content: center;
    max-width: 650px;
  }

  #action-list button {
    font-size: 40px;
  }

}
